@import "reset.css";
.sans-serif {
  font-family: Catamaran, sans-serif;
}
.serif {
  font-family: "Noto Serif", serif;
}
.delayed-transition {
  transition: 1.75s;
  transition-delay: 0.25s;
}
html,
body {
  text-align: center;
  background-color: #efefef;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Catamaran, sans-serif;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.toolbar {
  position: fixed;
  width: 100%;
  padding: 0.25rem;
  background-color: #cc4a00;
  color: #ffffff;
}
.toolbar a {
  color: #ffffff;
  font-weight: bold;
}
.toolbar-text {
  display: inline-block;
}
.banner {
  /*width:100%;*/
  padding: 8rem 1rem 1rem 1rem;
  background-color: #ffca85;
  height: 100vh;
  box-shadow: 0px 3px 10px #cfcfcf;
  transition: 1.75s;
  transition-delay: 0.25s;
}
.templates {
  display: hidden;
}
.title {
  font-size: 6rem;
  color: white;
  margin-bottom: 2rem;
  font-family: "Noto Serif", serif;
  transition: 1.75s;
  transition-delay: 0.25s;
}
h2 {
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: "Noto Serif", serif;
}
a {
  color: #cc4a00;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
input {
  border-radius: 2px;
}
.location-getter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: inline-block;
  transition: 1.75s;
  transition-delay: 0.25s;
  text-align: center;
}
.input-box {
  font-size: 2rem;
  padding: 0.25rem 0.5rem;
  color: #505050;
  text-align: center;
  border: 1px solid #9f9f9f;
  transition: 1.75s;
  transition-delay: 0.25s;
}
.input-box:focus {
  outline: 0;
  border: 1px solid #cc4a00;
}
.input-button {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  padding: 0.4rem;
  background-color: #cc4a00;
  color: #ffffff;
  border: 0;
  transition: 1.75s;
  transition-delay: 0.25s;
}
#results {
  width: 100%;
  display: none;
}
.single-shop {
  width: 80%;
  margin: 0 auto;
  padding: 4rem 0rem;
  border-bottom: 2px dotted #ffca85;
  /*display:none;*/
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.listings-container {
  width: 100%;
  margin: 1% auto;
}
.listing {
  width: 23%;
  margin: 1%;
  float: left;
  border-radius: 8px;
  background-color: #ffffff;
  -webkit-box-shadow: 0px 0px 5px 1px #cfcfcf;
  -moz-box-shadow: 0px 0px 5px 1px #cfcfcf;
  box-shadow: 0px 0px 5px 1px #cfcfcf;
}
.listing-image {
  width: 100%;
  height: 30vh;
  margin: auto;
  display: inline-block;
  background-image: url("../images/lizzies_pac.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
.listing-title {
  font-size: 1.1rem;
  text-align: left;
  padding: 0.5rem;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
@media only screen and (max-width: 600px) {
  .location-getter {
    width: 100%;
  }
  .title {
    font-size: 4rem;
  }
  h2 {
    font-size: 1rem;
  }
  .input-box {
    width: 70%;
  }
  .input-button {
    margin: 0.5rem 0 ;
  }
  .listing {
    width: 48%;
  }
  .listing-title {
    font-size: 0.75rem;
  }
}
@media only screen and (max-width: 384px) {
  .single-shop {
    padding-top: 3rem;
  }
}
/*# sourceMappingURL=etsynearme.1.0.0.css.map */